.ql-toggle {
  height: 100%;

  .buttons{

    .Button {
      // background-color: #6996AD !important;
      background-color: #69a4aa !important;
      opacity: 0.5 !important;

    }
    .Button:disabled {
      background-color: #337ab7 !important;
      opacity: 1 !important; 
    }
  }

  .toggle {
    height: 100%;
  }
}
